
body{
    background-color: hsl(0, 0%, 8%);
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    text-align: center;
    color: white;
}

.container{
    width: 300px;
    max-width: 375px;
    height: auto;
    background-color: hsl(0, 0%, 15%);
    margin: 50px auto;
    padding: 20px;
    border-radius: 10px;
}

img{
    width: 100px;
    border-radius: 50px;
    margin-bottom: 20px;

}

h1 {
    font-size: 24px;
    font-weight: 700;
    margin: 0 0 10px;
}

h2{
    font-size: 14px;
    font-weight: 600;
    color: hsl(75, 94%, 57%);
    margin: 0 0 20px;
}

p{
    font-size: 14px;
    color: white;
    margin: 0 0 20px;
}

button{
    background-color: hsl(0, 0%, 20%);
    color: white;
    display: block;
    margin: 10px 0;
    width: 100%;
    height: 40px;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 600;
    transition: background-color 0.3s;
}

button:hover {
    background-color: hsl(75, 94%, 57%);
    color: hsl(0, 0%, 8%);
}